@media only screen and (max-width: 1023px) {
  
  .hero-city img {
    transform: scale(1.2);
  }


  .gtk-container .cloud-right {
    flex: 1;
    mix-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }

  .gtk-city {
    transform: translateY(10%);
  }

  .benefit-container .cloud-left { 
    height: 32vh;
  }

  /* =============== section Footer ================ */
    .footer-text{
      display: flex;
      position: relative;
      gap: 40px;
      padding: 20px 20px 0 20px;
    }
    .logo-section{
      margin-left: 0px;
    }
}

@media (min-width: 769px) and (max-width: 1024px)  {
  .menu ul{
    gap: 1rem;
  }

  /* ================= Section FAQ ================= */
  .faq-heading {
      font-size: clamp(3em, 3vw, 4em);
  }

  summary {
     font-size: 1rem;
  }
  summary::after {
      width: 18px;
      height: 18px;
  }
}

@media(max-width: 768px){
  /* =============== section Header ================ */
  header {
    padding: 0;
    margin: 0;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
  }
  
  header .nav1 {
    margin: 0.5%;
    width: 99%;
    box-sizing: border-box;
    justify-content: left;
  }
  
  .nav-section2 {
    transform: translateX(40%);
  }
  
  .menu {
    display: none;
  }

  .menu ul{
    gap: 0;
  }
  
  #hamburger {
    display: block;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    right: 5%;
    left: auto;
  }
  
  .menu.show-menu {
    display: block;
    position: absolute;
    top: 79px;
    left: 0;
    width: 100%;
    background: rgba(39, 68, 93, 0.20);
    backdrop-filter: blur(100px);
    z-index: 1000;
    box-sizing: border-box;
  }
  
  .menu.show-menu ul {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }
  
  .menu.show-menu ul li {
    margin: 0.5rem 0;
    width: 100%;
    text-align: center;
  }

    .wrapper .center-line{
      left: 40px;
    }
    .wrapper .row{
      margin: 30px 0 3px 60px;
    }
    .wrapper .row-1{
      text-align: left;
    }
    .wrapper .row section{
      width: 100%;
    }
    .row-1 section::before{
      left: -7px;
    }
    .row-1 section .icon{
      left: -60px;
    }

    /* ================= Section FAQ ================= */
    .faq-container {
      height: 105vh;
    }
    .faq-wrapper {
      grid-template-columns: 1fr;
      max-width: 100%;
      padding: 10px;
  }
  .faq-heading {
      font-size: 2rem;
      font-weight: 500;
      color: white;
      padding: 20px;
  }

  summary {
      font-size: 0.9rem;
  }

  summary::after {
      width: 16px;
      height: 16px;
  }
  .faq-container .faq-overlay{
    position: absolute;
    width: 100%;
    height: 3%;
  }

  /* =============== section Footer ================ */
  .footer-text{
    display: flex;
    position: relative;
    gap: 70px;
    padding: 20px 0 0 20px;
  }
  .logo-section{
    margin-left: 0px;
  }
}
  
  @media(max-width: 440px){
    .hero-container {
      margin-top: 17vw;
    }

    .gtk-container {
      margin-top: -15vw;
    }

    .gtk-city {
      transform: translateY(20%);
    }

    .wrapper .row{
      margin: 10px 0;
    }
    .wrapper .row-1,
    .wrapper .row-2{
      width: 80%;
      padding-left: 60px;
      padding-right: 25px;
    }

    .faq-container {
      height: 140vh;
    }
    .section-3{
      margin-top: -40px; 
    }
  }